{% include 'home.html' %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Thêm thuốc</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% if medication %}
                                    Sửa thuốc
                                {% else %}
                                    Thêm thuốc
                                {% endif %}
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="medicationName">Tên thuốc</label>
                                    <input type="text" name="name" class="form-control" id="medicationName"
                                        placeholder="Nhập tên thuốc"
                                        value="{{ form.name.value|default:'' }}">
                                </div>
                                <div class="form-group">
                                    <label for="medicationPrescribedDose">Liều đề nghị của thuốc</label>
                                    <input type="text" name ="prescribed_dose" class="form-control" id="medicationPrescribedDose"
                                        placeholder="Nhập Liều đề nghị của thuốc"
                                        value="{{ form.prescribed_dose.value|default:'' }}">
                                </div>
                                <div class="form-group">
                                    <label for="medicationPrescription">Thành phần của thuốc</label>
                                    <input type="text" name ="active_ingredient" class="form-control" id="medicationPrescription"
                                        placeholder="Nhập thành phần của thuốc"
                                        value="{{ form.active_ingredient.value|default:'' }}">
                                </div>
                                <div class="form-group">
                                    <label for="medicationProduct">Nhà sản xuất thuốc</label>
                                    <input type="text" name ="manufacturer" class="form-control" id="medicationProduct"
                                        placeholder="Nhập nhà sản xuất"
                                        value="{{ form.manufacturer.value|default:'' }}">
                                </div>
                                <div class="form-group">
                                    <label for="medicationMedicine">Dạng thuốc</label>
                                    <input type="text" name ="dosage_form" class="form-control" id="medicationMedicine"
                                        placeholder="Nhập dạng thuốc"
                                        value="{{ form.dosage_form.value|default:'' }}">
                                </div>
                                <div class="form-group">
                                    <label for="medicationPrice">Giá</label>
                                    <input type="text" name ="unit_price" class="form-control" id="medicationPrice"
                                        placeholder="Nhập giá"
                                        value="{{ form.unit_price.value|default:'' }}">
                                </div>
                                <div class="form-group">
                                    <label for="medicationQuantity">Số lượng</label>
                                    <input type="text" name ="stock_quantity" class="form-control" id="medicationQuantity"
                                        placeholder="Nhập số lượng"
                                        value="{{ form.stock_quantity.value|default:'' }}">
                                </div>
                                <div class="form-group">
                                    <label for="medicationDescribe">Mô tả</label>
                                    <input type="text" name ="description" class="form-control" id="medicationDescribe"
                                        placeholder="Nhập mô tả"
                                        value="{{ form.description.value|default:'' }}">
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>